<div class="row">
    <div class="col-xs-1">
        <button class="fa-override" style="background-color :transparent; border:none;outline: none !important;" (click)="Add()">
            <i class="fa fa-arrow-up padUp"></i>
        </button>
    </div>
    <div class="col-xs-10"><input type="text" value="{{Mapping.priority}}" class="numTxt" readonly /></div>
    <div class="col-xs-1">
        <button class="fa-override" style="background-color :transparent; border:none;outline: none !important;" (click)="Down()">
            <i class="fa fa-arrow-down padDown"></i>
        </button>
    </div>

</div>
