# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies


# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
node_modules
/.vs/src/FileContentIndex
/.vs/
# System Files
.DS_Store
Thumbs.db
/.vs/Sfui/FileContentIndex/b7beed6c-5406-4a98-943b-7b027ac31a46.vsidx
/.vs/Sfui/FileContentIndex
/.vs/slnx.sqlite-journal
/.vs/Sfui/v17/.wsuo
/.vs/Sfui/FileContentIndex/fc8d40bd-c8da-4a36-b0b0-9e0075dcc931.vsidx
/.vs/VSWorkspaceState.json
/src/.vs/src/FileContentIndex/036e1c6d-32a7-48f2-8b6e-d82346cbbb79.vsidx
/src/.vs/src/FileContentIndex/65caade3-a293-49e4-9391-3b39fe717606.vsidx
/src/.vs/src/FileContentIndex/92e636aa-877f-4871-a30f-b3cf336a4d1f.vsidx
/src/.vs/src/FileContentIndex/d97f3323-f6e8-435b-93c3-436072413470.vsidx
/src/.vs/src/FileContentIndex/read.lock
/src/.vs/src/v17/.suo
/src/.vs/src/v17/workspaceFileList.bin
/src/.vs/VSWorkspaceState.json
/src/.vs/slnx.sqlite
/src/.vs/src/config/applicationhost.config
/.vs/slnx.sqlite
/dist/sfui
/src/environments/environment.ts
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/.vs/Sfui/v17/.wsuo
/.vs/Sfui/v17/workspaceFileList.bin
/.vs/Sfui/FileContentIndex/782c33c9-4cba-4698-bd9c-1acce479255f.vsidx
/.vs/Sfui/FileContentIndex/a5240155-4bd3-481e-b7a3-db8199e342d0.vsidx
*.vsidx
/.vs/Sfui/FileContentIndex/fc8d40bd-c8da-4a36-b0b0-9e0075dcc931.vsidx
*.lock
/src/.vs/src/config/applicationhost.config
/src/.vs/src/FileContentIndex/036e1c6d-32a7-48f2-8b6e-d82346cbbb79.vsidx
