.padBtmBtns
{
    padding-bottom: 4px;
}

.margLeft
{
    margin-left:4px;
    margin-bottom:2px;
}

.marg
{
    margin-top:8px;
    margin-bottom:8px;
    margin-left:12px;
    margin-right:12px;
}
.wdth
{
    width: 58px;
}

.margTop
{
    margin-top:20px;
}

.padTop
{
    padding-top:3px;
}

.padBtnLeft
{
    padding-left:6px;
}